@tailwind base;
@tailwind components;
@tailwind utilities;

/* body > #__next > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

body.is-map > #__next > .navbar {
  display: none;
}

body.is-map > #__next > .container {
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
} */

#google-map {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}
