[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
glob2 = "*"
psycopg2 = "*"
python-dotenv = "*"
sqlalchemy = "*"
bs4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
